<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlberEOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <AlberEOL.Properties.Settings>
   <setting name="TestNumber" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="IniFileName" serializeAs="String">
    <value>Settings.ini</value>
   </setting>
   <setting name="TraceBaseURL" serializeAs="String">
    <value>http://192.168.100.1/VUTS/web/api/</value>
   </setting>
   <setting name="LastProductTypeID" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="ErrorParameterName" serializeAs="String">
    <value>ErrorCode</value>
   </setting>
   <setting name="NormalColor" serializeAs="String">
    <value>SlateGray</value>
   </setting>
   <setting name="ErrorColor" serializeAs="String">
    <value>IndianRed</value>
   </setting>
   <setting name="SuccessColor" serializeAs="String">
    <value>LimeGreen</value>
   </setting>
   <setting name="WarningColor" serializeAs="String">
    <value>Orange</value>
   </setting>
   <setting name="DisabledButtonColor" serializeAs="String">
    <value>DarkSlateGray</value>
   </setting>
   <setting name="EnabledButtonColor" serializeAs="String">
    <value>MediumSlateBlue</value>
   </setting>
   <setting name="PCBDateMin" serializeAs="String">
    <value>2208220001</value>
   </setting>
   <setting name="LabelOKPrn" serializeAs="String">
    <value>VGV24_Pack_Label_ES1_SAMPLE.prn</value>
   </setting>
   <setting name="LabelNOKPrn" serializeAs="String">
    <value>VGV24_Pack_Label_EOL_NOK.prn</value>
   </setting>
   <setting name="AdminUserIdList" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>1</string>
      <string>5</string>
     </ArrayOfString>
    </value>
   </setting>
   <setting name="SNPattern" serializeAs="String">
    <value>^(?&lt;year&gt;\d\d)(?&lt;month&gt;0[1-9]|1[012])(?&lt;day&gt;0[1-9]|[12][0-9]|3[01])(?&lt;sn&gt;\d{4})$</value>
   </setting>
   <setting name="EOLOpTraceName" serializeAs="String">
    <value>EndOfLineTest</value>
   </setting>
  </AlberEOL.Properties.Settings>
 </userSettings>
</configuration>